<div class="top_navbar">
  <div class="logo">APP</div>
  <div class="menu">
    <a class="logout-link" (click)="logout()">
      <i class="material-icons logout-logo">logout</i>
    </a>
  </div>
</div>

<div class="sidebar">
  <a class="nav-link" [routerLink]="['/facture/home-facture']" (click)="toggleNav('homeFacture')" [class.active]="activeTabFacture === 'homeFacture'">
    <i class="material-icons">home</i>
    Home
  </a>

  <a class="nav-link" (click)="toggleNav('Commande')" [class.active]="activeTabFacture === 'Commande'">
    <i class="material-icons">receipt</i>
    Commande
    <i class="material-icons dropdown-arrow" [ngClass]="{'open': activeTabFacture === 'Commande'}">expand_more</i>
  </a>
  <div *ngIf="activeTabFacture === 'Commande'">
    <a class="sub-nav-link" [routerLink]="['/facture/list-commande-f']">Voir Liste de Commande</a>
    <a class="sub-nav-link" [routerLink]="['/facture/add-commande-f']">Creer Commande</a>
  </div>

  <a class="nav-link" (click)="toggleNav('Facture')" [class.active]="activeTabFacture === 'Facture'">
    <i class="material-icons">receipt</i>
    Facture
    <i class="material-icons dropdown-arrow" [ngClass]="{'open': activeTabFacture === 'Facture'}">expand_more</i>
  </a>
  <div *ngIf="activeTabFacture === 'Facture'">
    <a class="sub-nav-link" [routerLink]="['/facture/list-facture']">Voir Liste de Facture</a>
    
  </div>
  
  <a class="nav-link" [routerLink]="['/facture/fournisseur']" (click)="toggleNav('Fournisseur')" [class.active]="activeTabFacture === 'Fournisseur'">
    <i class="material-icons">store</i>
    Fournisseur
  </a>
  
  <a class="nav-link" [routerLink]="['/facture/client']" (click)="toggleNav('Client')" [class.active]="activeTabFacture === 'Client'">
    <i class="material-icons">person</i>
    Client
  </a>
</div>
