<div class="container">
  <!-- First Row -->
  <div class="row">
    <!-- Total Commande Card -->
    <div class="col">
      <div class="card-container" (click)="onCardClick('Total Commande')">
        <div class="side-bar"></div>
        <div class="content">
          <div class="title">
            <mat-icon>shopping_cart</mat-icon>
            Commandes totales
          </div>
          <div class="value">{{ totalValues.totalCommande }}</div>
        </div>
      </div>
    </div>
    <!-- Total Facture Card -->
    <div class="col">
      <div class="card-container" (click)="onCardClick('Total Facture')">
        <div class="side-bar"></div>
        <div class="content">
          <div class="title">
            <mat-icon>receipt</mat-icon>
            Factures totales
          </div>
          <div class="value">{{ totalValues.totalFacture }}</div>
        </div>
      </div>
    </div>
    <!-- Total Produits Card -->
    <div class="col">
      <div class="card-container" (click)="onCardClick('Total Produits')">
        <div class="side-bar"></div>
        <div class="content">
          <div class="title">
            <mat-icon>inventory</mat-icon>
            Produits totaux
          </div>
          <div class="value">{{ totalValues.totalProduits }}</div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Second Row -->
  <div class="row">
    <!-- Total Cost Card -->
    <div class="col">
      <div class="card-container" (click)="onCardClick('Total Cost')">
        <div class="side-bar"></div>
        <div class="content">
          <div class="title">
            <mat-icon>attach_money</mat-icon>
            Coût total
            
          </div>
          <div class="value">{{ totalValues.totalCost }}</div>
          <div *ngIf="totalValues.costChange !== undefined" class="percentage" [ngClass]="{'positive': totalValues.costChange > 0, 'negative': totalValues.costChange < 0}">
            30 derniers jours {{ totalValues.costChange > 0 ? '+' : '' }}{{ totalValues.costChange }}%
          </div>
        </div>
      </div>
    </div>
    <!-- Total Revenue Card -->
    <div class="col">
      <div class="card-container" (click)="onCardClick('Total Revenue')">
        <div class="side-bar"></div>
        <div class="content">
          <div class="title">
            <mat-icon>trending_up</mat-icon>
            Revenu total
          </div>
          <div class="value">{{ totalValues.totalRevenu }}</div>
          <div *ngIf="totalValues.percentageChange !== undefined" class="percentage" [ngClass]="{'positive': totalValues.percentageChange > 0, 'negative': totalValues.percentageChange < 0}">
            30 derniers jours {{ totalValues.percentageChange > 0 ? '+' : '' }}{{ totalValues.percentageChange }}%
          </div>
        </div>
      </div>
    </div>
    <!-- Total Sales Card -->
    <div class="col">
      <div class="card-container" (click)="onCardClick('Total Sales')">
        <div class="side-bar"></div>
        <div class="content">
          <div class="title">
            <mat-icon>shopping_bag</mat-icon>
            Produits vendu
          </div>
          <div class="value">{{ totalValues.totalSales }}</div>
          <div *ngIf="totalValues.salesChange !== undefined" class="percentage" [ngClass]="{'positive': totalValues.salesChange > 0, 'negative': totalValues.salesChange < 0}">
            30 derniers jours {{ totalValues.salesChange > 0 ? '+' : '' }}{{ totalValues.salesChange }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
