/* src/app/dashboard-admin/dashboard-admin.component.css */
:host ::ng-deep .number-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  :host ::ng-deep .number-card .card {
    flex: 1 1 calc(33.333% - 10px); /* 3 cards per row with some margin */
    margin: 5px;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ngx-charts-number-card{
    z-index: 9999;
  }