.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chart-container {
    margin-right: 20px; /* Adjust spacing between charts */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  }
  
  .chart-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  