<div class="total" style="display: block;">
     <div style="text-align: center; margin-bottom: 20px;"> 
        <button pButton type="button" label="Semaine dernier" (click)="showLastDay()"></button>
         <button pButton type="button" label="Mois dernier" (click)="showLastMonth()"></button> 
         <button pButton type="button" label="Année dernier" (click)="showLastYear()"></button>
         </div> 

         <p-chart type="line" [data]="chartData" [options]="comboChartOptions"></p-chart> 
        </div>