<app-navbar-facture [activeTabFacture]="activeTabFacture" (activeTabChange)="toggleNav($event)"></app-navbar-facture>

<div class="outer-container">
    <div class="inner-container">
        

        <nav aria-label="breadcrumb" *ngIf="activeTabFacture !== 'home'"> 
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home" (click)="toggleNav('homeFacture')">Home</a></li>
                <li class="breadcrumb-item" *ngIf="activeTabFacture === 'list-commande-f'">
                    <a routerLink="/list-commande-f" (click)="toggleNav('list-commande-f')">List-Commande</a>
                </li>
                <li class="breadcrumb-item" *ngIf="activeTabFacture === 'add-commande-f'">
                    <a routerLink="/add-commande-f" (click)="toggleNav('add-commande-f')">Ajout-Commande</a>
                </li>
                
                <li class="breadcrumb-item active" aria-current="page">{{ activeTabFacture }}</li>
            </ol>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>
