<app-navbar-facture    [activeTabFacture]="activeTabFacture" (activeTabChange)="toggleNav($event)"></app-navbar-facture>




<div class="outer-container">
    <div class="inner-container">

        <nav aria-label="breadcrumb" *ngIf="activeTabFacture !== 'home'"> 
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="toggleNav('homeFacture')">Home</a></li>
                <li class="breadcrumb-item" *ngIf="activeTabFacture === 'list-commande-f'"><a (click)="toggleNav('list-commande-f')">List-Commande</a></li>
                <li class="breadcrumb-item" *ngIf="activeTabFacture=== 'add-commande-f'"><a (click)="toggleNav('add-commande-f')">Ajout-Commande</a></li>
                
                <li class="breadcrumb-item active" aria-current="page">{{ activeTabFacture }}</li>
            </ol>
        </nav>



<app-home-facture *ngIf="activeTabFacture=== 'homeFacture'" ></app-home-facture>

<app-add-commande-f *ngIf="activeTabFacture=== 'add-commande-f'"></app-add-commande-f>
<app-list-commande-f *ngIf="activeTabFacture === 'list-commande-f'"></app-list-commande-f>
<app-list-facture *ngIf="activeTabFacture=== 'list-facture'"></app-list-facture>
<app-facture-page  *ngIf="activeTabFacture ==='facture-page'"></app-facture-page>
<app-fournisseur-page *ngIf="activeTabFacture=== 'Fournisseur'"></app-fournisseur-page>
<app-client-page *ngIf="activeTabFacture=== 'Client'"></app-client-page>
    </div>
</div>       