<div class="container mt-4">
  <h1 class="text-center">Historique</h1>
  <table class="table table-hover" style="width: 90%; margin: auto;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Entity Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs" (click)="showDetails(log)" class="clickable-row">
        <td>{{ log.id }}</td>
        <td>{{ log.entityName }}</td>
        <td>{{ log.action }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Dialog for displaying detailed log information -->
<ng-template #logDetails let-dialogRef="dialogRef">
  <div class="modal-header">
    <h4 class="modal-title">Log Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="dialogRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <strong>ID:</strong> {{ selectedLog.id }}<br>
      <strong>Entity Name:</strong> {{ selectedLog.entityName }}<br>
      <strong>Action:</strong> {{ selectedLog.action }}<br>
      <strong>Timestamp:</strong> {{ selectedLog.timestamp | date:'short' }}<br>
    </div>
    <div>
      <h5 *ngIf="oldLogHeaders!== []">Old Value:</h5>
      <table class="table table-bordered" *ngIf="selectedLog.oldValue">
        <thead>
          <tr>
            <th *ngFor="let header of oldLogHeaders">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let value of oldLogValues">{{ value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h5 *ngIf="newLogHeaders !== []">New Value:</h5>
      <table class="table table-bordered" *ngIf="selectedLog.newValue">
        <thead>
          <tr>
            <th *ngFor="let header of newLogHeaders">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let value of newLogValues">{{ value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dialogRef.close()">Close</button>
  </div>
</ng-template>
