<!--
<div class="col-md-6 order-md-1 order-3">
    <div class="">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                  <th>ID</th>
                  <th>User ID</th>
                  <th>User Name</th>
                  <th>User Role</th>
                  <th>Price</th>
                  <th>Cost</th>
                  <th>Action</th>
                  <th>Quantity</th>
                  <th>Timestamp</th>
                  <th>Description</th>
                   
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activity of usersActivities">
                <td>{{ activity.id }}</td>
                <td>{{ activity.userId }}</td>
                <td>{{ activity.userName }}</td>
                <td>{{ activity.userRole }}</td>
                <td>{{ activity.prix }}</td>
                <td>{{ activity.cout }}</td>
                <td>{{ activity.action }}</td>
                <td>{{ activity.quantite }}</td>
                <td>{{ activity.timestamp }}</td>
                <td>{{ activity.description }}</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn " (click)="this.fetchusersActivities()">refresh</button>
    </div>
    
    
</div>-->