<app-navbar-stock [activeTab]="activeTab" (activeTabChange)="toggleNav($event)"></app-navbar-stock>

<div class="outer-container">
  <div class="inner-container">
    <nav aria-label="breadcrumb" *ngIf="activeTab !== 'home'"> 
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/stock/home-stock">Home</a></li>
        <li class="breadcrumb-item" *ngIf="activeTab === 'list-produit'"><a routerLink="/stock/list-stock">List-Produit</a></li>
        <li class="breadcrumb-item" *ngIf="activeTab === 'list-commande'"><a routerLink="/stock/commande-stock">List-Commande</a></li>
        <li class="breadcrumb-item" *ngIf="activeTab === 'add-commande'"><a routerLink="/stock/add-commande">Ajout-Commande</a></li>
        <li class="breadcrumb-item" *ngIf="activeTab === 'add-produit'"><a routerLink="/stock/ajout-stock">Ajout-Produits</a></li>
        <li class="breadcrumb-item" *ngIf="activeTab === 'Fournisseur'"><a routerLink="/stock/fournisseur">Fournisseurs</a></li>
        <li class="breadcrumb-item" *ngIf="activeTab === 'Client'"><a routerLink="/stock/client">Clients</a></li>
        <li class="breadcrumb-item" *ngIf="activeTab === 'Categorie'"><a routerLink="/stock/categorie">Categories</a></li>
        
        <li class="breadcrumb-item active" aria-current="page">{{ activeTab }}</li>
      </ol>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
